.container {
  display: flex;
  max-width: 200px;
  max-height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  border: 4px solid transparent;
  transition: all 0.2s ease-in-out;
}

.container:hover {
  border: 4px solid var(--opaque-color);
  box-shadow: 0 0 10px 0px var(--opaque-color);
  cursor: pointer;
}

.container.selected {
  border: 4px solid var(--primary-color);
  box-shadow: 0 0 10px 0px var(--primary-color);
}

.container > img {
  user-select: none;
  -webkit-user-drag: none;
}

.check {
  position: absolute;
  top: 4px;
  left: 4px;
  animation: pop 300ms ease-in-out;
}

.corner {
  position: absolute;
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  background-color: var(--primary-color);
  animation: slide 200ms ease-in-out;
}

.imagesContainer {
  display: grid;
  flex-wrap: nowrap;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  gap: 12px;
}

@keyframes slide {
  from {
    transform: rotate(45deg) translateX(-120px);
  }
  to {
    transform: rotate(45deg) translateX(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}
