@import url("./assets/fonts/cabinet-grotesk.css");

:root {
  --text-color: #fff0f5;
  --text-opaque: #a07081;
  --background-color: #28010d;
  --primary-color: #f40651;
  --secondary-color: #320111;
  --accent-color: #f90653;
  --opaque-color: #ae1042;
  --default-transition: all 0.2s ease-out;
}

* {
  font-family: "CabinetGrotesk-Variable", "Sans Serif", "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: var(--text-color);
}

#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

div.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 5%;
}

div {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: var(--background-color);
  font-weight: 700;
  transition: var(--default-transition);
  color: var(--text-color);
}

input:focus {
  box-shadow: 0 0 5px 0px var(--primary-color);
}

input::-webkit-input-placeholder {
  color: var(--text-opaque);
}

div.container {
  display: flex;
  padding: 30px;
  border-radius: 20px;
}

div.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.centered {
  align-self: center;
  text-align: center;
}

.text-opaque {
  color: var(--text-opaque);
}

.text-primary {
  color: var(--primary-color);
}

svg {
  flex-shrink: 0;
  color: unset;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  border: none;
  font-weight: 900;
  color: var(--text-color);
  transition: var(--default-transition);
}

button:hover {
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0 0 10px 0px var(--primary-color);
}

button:disabled {
  background-color: var(--background-color);
  color: var(--text-opaque);
}

button:disabled:hover {
  transform: none;
  box-shadow: none;
  cursor: default;
}

input[type="range"] {
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--opaque-color);
  height: 0.5rem;
  border-radius: 10px;
}

input[type="range"]::-moz-range-track {
  background: var(--opaque-color);
  height: 0.5rem;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -0.3rem;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: var(--primary-color);
  height: 1.2rem;
  width: 1.2rem;
}
